/* CSS for the home page */

/**** NAVIGATION ***********************************/
/***************************************************/
nav {
    background-color: var(--dark_grey);
    display: grid;
    align-items: center;
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 14px 0px;
    gap: 14px;
    font-size: 20px;
    z-index: 200;
    transition: transform 0.5s ease;
}

.nav-hidden {
    transform: translateY(-100%);
}

.nav-show {
    transform: translateY(0);
}

#nav-toggle-display {
    z-index: 300;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    right: 0;
    transition: transform 1s ease;
}

.burger-bar {
    width: 50px;
    height: 5px;
    margin: 10px 0;
    background-color: var(--silver);
    border-radius: 10px;
    transition: .4s all ease-in;
}

/* Bars when hamburger is clicked and nav is displayed, toggled in HTML onclick */
.burger-x .burger-top {
    transform: translateY(15px) rotateZ(-45deg);
}
.burger-x .burger-middle {
    transform: translateX(200px);
}
.burger-x .burger-bottom {
    transform: translateY(-15px) rotateZ(45deg);
}

nav div {
    font-size: 30px;
}

.nav-link a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
}

.nav-link-name p {
    color: silver;
    font-size: 22px;
}

.nav-link a img{
    width: 48px;
    padding: 0px 40px;
}

nav button:hover, .sound-on {
    color: tomato;
    font-size: 40px;
    cursor: pointer;
}



/**** HEADER ***************************************/
/***************************************************/
#section-header {
    background: var(--grey);
    height: 100vh;
    padding-bottom: 0px;
    scroll-behavior: smooth;
}

header {
    /*padding-top: 40px;*/
    height: 100vh;
    font-family: neuropol-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#canvas-header {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}

.header-wrapper {
    position: absolute;
    height: 40%;
    top: 40%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.name-wrapper {
    height: 80%;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: var(--orange);
    font-size: 50px;
    transition: 6ms;
}

.web-developer-wrapper {
    align-self: center;
    overflow: hidden;
    color: var(--silver);
}

.web-developer {
    font-family: neuropol-nova, sans-serif;
    font-size: 18px;
    transition: all 1.5s ease;
    transform: translateX(700px);
}

#name-letter-1, #name-letter-3, #name-letter-5,
#name-letter-7, #name-letter-10, #name-letter-13 {
    color: var(--silver);
}

.name-letter-holder {
    overflow: hidden;
}

.name-letter {
    opacity: 0;
    transition: all 500ms ease; /* cubic-bezier(.12,.79,.65,.55); */
    transform: translateY(-50px);
}

.james, .yoannou {
    opacity: 1;
    transform: translateY(0);
}

/* GIVE THIS OPACITY */
.slide-in {
    opacity: 0.7;
    transform: translateX(0);
}


/**** SECTION: ABOUT *******************************/
/***************************************************/
#section-about {
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: initial;
    /*
    background-attachment: scroll;
    background-position-x: 0px;
    background-size: cover;
    */
    min-height: 80vh;
    background-color: black;
    background-image: url(../img/pixel\ art/bg-test-3.png);
}

.about-heading {
    text-align: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0px;
    align-items: center;
    z-index: 10;
}

.about-left {
    font-family: neuropol-nova, sans-serif;
    color: var(--orange);
    /*font-size: 20px;*/
    order: 1;
    position: relative;
    margin: 0px auto;
}

.about-right{
    transition: opacity 0.8s;
    opacity: 0;
    width: 100%;
    padding-bottom: 20px;
}

.about-description {
    color: white;
    padding: 0px 12px;
}

.off-screen {
    box-sizing: border-box;
    padding: 40px 40px;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1.4s ease;
}

.about-panel-left {
    z-index: 30;
    top: 0;
    background-color: var(--grey);
}

.face-container {
    position: relative;
    overflow: hidden;
}

.my-face {
    width: 100%;
    height: auto;
}

.about-panel-right {
    top: 0;
    background-color: var(--bright_grey);
}



/**** SECTION: PORTFOLIO ***************************/
/***************************************************/
#section-portfolio {
    background-color: var(--dark_grey);
    border: none, 1px solid grey;
}

.section-portfolio p,
.section-portfolio a {
    display: block;
    padding: 10px 0px 10px 20px;
    font-size: 18px;
}

.section-portfolio p,
.section-portfolio a,
.section-portfolio h3,
.section-portfolio h4 {
    text-align: start;
    padding-top: 10px;
    padding-left: 20px;
}

.section-portfolio h4 {
    margin: 0px;
    color: white; /* Or oldlace, or bisque, slightly darker */
    font-weight: bold;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: natom-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-portfolio a {
    text-decoration: underline;
    color: #e8cf8f;
    font-weight: bold;
}

#section-portfolio a:hover {
    color: var(--gold);
}

#section-portfolio ul {
    font-size: 16px;
}

#section-portfolio li {
    padding-bottom: 10px;
}

.outer-li {
    padding-bottom: 10px;
}

.outer-li p {
    font-weight: bold;
}

.outer-li ul {
    text-align: start;
    padding-left: 30px;
}

.inner-li {
    font-family: ff-tisa-sans-web-pro,sans-serif;
    font-weight: 300;
    font-style: normal;
}

.school {
    color: var(--light_gold);
}

.portfolio-heading {
    text-align: center;
    padding-bottom: 50px;
}

.portfolio-grid-item {
    border: solid 2px teal;
}

.portfolio-item-heading-container {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.portfolio-item-heading {
    margin-bottom: 0px;
}

.portfolio-item-content {
    /*display: none;*/
    padding: 10px 20px;
    background-color: teal;
}

#github-button {
    display: flex;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 80px;
    justify-content: space-evenly;
    background-color: #005050;
    width: 350px;
}

#github-button p {
    font-size: 30px;
}

#github-button:hover {
    background-color: #003030;
}

.skill-li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.skill-li p {
    width: 50%;
    flex-grow: 1;
}

.bar-outer {
    width: 50%;
    flex-grow: 4;
    background-color: var(--light_grey);
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.bar-inner {
    transition: all 0.6s;
    position: relative;
    background-color: var(--light_orange);
    height: 100%;
}

/* PROGRESS BARS: Should automate this later in JS */
#skill-html {width: 90%; right: 90%;}
#skill-css {width: 86%; right: 86%;}
#skill-javascript {width: 70%; right: 70%;}
#skill-jquery {width: 42%; right: 42%;}
#skill-react {width: 30%; right: 30%;}
#skill-ruby {width: 30%; right: 30%}
#skill-php {width: 40%; right: 40%}
#skill-mysql {width: 10%; right: 10%}
#skill-jasmine {width: 34%; right: 34%}
#skill-liquid {width: 82%; right: 82%}
#skill-git {width: 80%; right: 80%;} /* MAKE THIS ONE BETTER */
#skill-unix {width: 40%; right: 40%;}
#skill-c {width: 45%; right: 45%;}
#skill-cpp {width: 50%; right: 50%;}
#skill-java {width: 40%; right: 40%;}

.portfolio-left {
    padding: 10px;
    flex: 3;
}

.portfolio-right {
    padding: 10px;
    flex: 1;
}

.social-media-links {
    display: flex;
    flex-direction: column;
}



/**** SECTION: CONTACT *****************************/
/***************************************************/
#section-contact {
    padding: 0px 10px;
    background: var(--transparent_background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 0px;
    min-height: 80vh;
    background-color: var(--bright_grey);
    color: white;
    /*
    font-family: anonymous-pro, monospace;
    font-weight: 400;
    font-style: normal;
    /*background-image: url(../img/pixel\ art/bg-test.png);
    background-image: url(../../vendors/img/moertel-pixel.webp);*/
}

.contact-heading {
    color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 5px;
    color: grey;
    margin: 20px auto;
}

.contact-form h3, .contact-form p {
    color: white;
}

.contact-form label {
    width: 94%;
    margin-bottom:  20px;
}

.contact-form label input,
.contact-form label textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    padding: 10px 30px;
    font-family: anonymous-pro, monospace;
}

.contact-form label textarea {
    height: 200px;
}

#email-submit-btn {
    margin-top: 40px;
    position: relative;
    background-color: var(--orange);
    box-shadow: 4px 7px #262626, -4px 7px #262626;
    padding: 20px 20px;
    color: white;
    width: 200px;
    font-weight: bold;
}

#email-submit-btn:hover {
    background-color: #c50;
    cursor: pointer;
    transform: translateY(5px);
    box-shadow: none;
}



/**** FOOTER ***************************************/
/***************************************************/

/*
Since the footer should be consistent across all pages,
I decided to put it in general.css
*/

footer {
    padding-bottom: 130px;
}

/**** SCROLL BUTTON ********************************/
/***************************************************/
#scroll-button-container {
    position: fixed;
    display: flex;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 50px;
    z-index: 10;
    overflow-y: hidden;
    transition: all 0.8s ease;
}

.scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.4);
    padding: 0 20px;
}

.scroll-button:hover {
    color: tomato;
    font-size: 140%;
    font-weight: bold;
    background: rgba(100, 100, 100, 0.3);
}

/* @keyframes arrow-hover {
  10% {transform: rotate(30deg); width: 40px;}
  70% {transform: rotate(0deg);}
  90% {width: initial;}
} */

.scroll-arrow {
    position: absolute;
    transition: all 0.8s ease;
}

.scroll-arrow-up {
  transform: translateY(120px);
}
