/*** COMPUTER SCREENS ***/
@media only screen and (min-width: 1200px) {

    nav {
        height: 50px;
        align-items: center;
        grid-template: 100% / repeat(4, 1fr);
        padding: 60px 0px;
        transform: translateY(0);
    }

    #nav-toggle-display {
        transform: translateX(300px);
    }

    .nav-hidden {
        transform: translateY(0);
    }

    nav div {
        justify-self: center;
    }

    nav div:hover {
        font-size: 40px;
    }

    .nav-link:hover a img {
        transition: all 0.2s;
        transform: translateX(-20px);
        width: 64px;
    }
    .nav-link:hover a .nav-link-name p {
        font-weight: 300;
        letter-spacing: 1px;
        transition: transform 0.3s;
        transform: translateX(0px);
    }

    .nav-link a {
        width: auto;
        justify-content: unset;
    }

    .nav-link a img{
        padding: 0;
    }

    .nav-link-name {
        display: initial;
        overflow: hidden;
    }

    /*Was formerly for all sizes*/
    .nav-link-name p {
        transform: translateX(-200px);
    }

    /* Header */
    .header-wrapper{
        width: 40%;
        left: 150px;
        margin: 0;
        /*
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        */
    }

    .name-wrapper {
        /*font-size: 50px;*/
        font-weight: 400;
    }

    .web-developer-wrapper {
        align-self: flex-end;
    }

    /* About */

    .my-face {
        width: 80%;
    }


    /* Contact */

    .contact-info {
        flex-direction: row;
    }


    /* Scroll button */
    #scroll-button {
        height: 50px;
    }

    #scroll-down-button {
        width: 100px;
    }
}

/*** BIG TABLETS ***/
@media only screen and (min-width: 1023px) {

    .web-developer{
        font-size: 24px;
    }

    /* About */
    #section-about {
        background-attachment: fixed;
    }

    .about-wrapper {
        flex-direction: row;
    }

    .about-left {
        width: 70%;
        flex: 3;
        order: 0;
        /*
        background-color: rgba(250, 200, 190, 0.1);
        border-radius: 30%;
        margin-left: 30px;
        */
    }
    
    .about-right {
        flex: 4;
    }

    .about-description {
        width: 90%;
        margin: auto;
        padding: 10px;
    }

    /* Portfolio - must check iPad to see if this should be on a bigger screen */
    .portfolio-wrapper {
        padding: 10px 40px;
    }

    .portfolio-grid-item {
        width: 48%;
        margin-bottom: 40px;
    }
    
    #projects {
        box-shadow: 12px 12px var(--dark_teal);
        float: right;
    }

    #skillset {
        box-shadow: -12px 12px var(--dark_teal);
    }

    #education {
        box-shadow: -12px 12px var(--dark_teal);
        grid-row-start: 1;
    }

    /* Footer */
    section-footer {
        flex-direction: row;
        height: 50px;
    }

    .footer-tab img {
        width: 48px;
        padding-bottom: 0px;
    }

    .footer-tab img:hover {
        width: 52px;
    }
}

/*** TO PREVENT ISSUES ON IPHONES ***/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width: 100%;
    overflow-x:hidden;
  }

  .hologram-image {
    width: 100%;
  }
}
