/* Site-wide CSS rules that define the general style for both home-page and all projects and sub-pages */

/**** GENERAL **************************************/
/***************************************************/
:root {
    --nav_footer: #181818;
    --text: #111; /* dark: #d2dae2 */
    --header_bg: #eee; /* dark: #1d1d1d */
    --portfolio_bg: #d1d6d6; /* dark: #181818 */
    --contact_bg: #d1d6d6; /* dark: #343434 */

    /**********************/
    --bright_grey: #343434;
    --grey: #1d1d1d;
    --dark_grey: #181818;
    --dark: #111;
    --dim_white: #ddd;
    --light_orange: #faa700;
    --orange: #f28500;
    --dark_orange: #d06300;
    --blue: #706fd3;
    --green: #b7e117;
    --silver: #d2dae2;
    --gold: rgba(230, 180, 100, 1);
    --light_gold: #e8cf8f;
    --dark_teal: #233838;
    --transparent_background: rgba(0, 0, 0, 0.7);
    --transparent_button: rgba(255, 255, 240, 0.1);

}

body {
    background: #1d1d1d;
    font-size: 22px;
    color: #fff;
    font-family: anonymous-pro, monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    z-index: -1;
}

.section {
    position: relative;
    z-index: 0;
}

p {
    padding-bottom: 10px;
    line-height: 1.4em;
    /*padding-bottom: 80px;
    /*min-height: 60vh;*/
}

a {
    color: inherit;
    text-decoration: none;
}

#global-wrapper {
    position: relative;
    overflow: hidden;
}

.background-filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.section h1 {
    padding-top: 40px;
}

h1, h2, h3, h4 {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--text);
    font-family: neuropol-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3, h4 {
    font-family: natom-pro, sans-serif;
}

h1 {
    font-size: 300%;
    /*text-shadow: 0px 2px rgba(50, 50, 50, 0.6);*/
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
    /*text-shadow: 0px 1px #555;*/
}

h5, h6 {
    margin-bottom: 16px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 20px;
    background: var(--light_orange);
    color: white;
}
.btn:hover {
    background: var(--dark_orange);
}

span {
    display: block;
}

code {
    font-size: 0.8em;
    color: var(--orange);
    background-color: var(--dark);
}

.collapsed {
    display: none;
}

.bottom {
    padding: 20px 0px;
}

.source-code-wrapper {
    background-color: black;
    color: greenyellow;
    width: 96%;
    margin: auto;
}

pre {
    font-size: 14px;
    text-align: initial;
    overflow-x: auto;
}

/**** FOOTER ***************************************/
/***************************************************/
footer {
    color: grey;
    background-color: var(--nav_footer);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    padding-bottom: 60px;
    gap: 14px;
    font-size: 20px;
    z-index: 200;
}

.footer-tab {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-tab img {
    width: 64px;
    padding-bottom: 20px;
    box-sizing: border-box;
}