/*** COMPUTER SCREENS ***/
@media only screen and (min-width: 1200px) {

    .section {
        padding-bottom: 10vh;
    }

    nav {
        height: 50px;
        align-items: center;
        grid-template: 100% / repeat(4, 1fr) 100px;
        padding: 60px 0px;
        transform: translateY(0);
    }

    #nav-toggle-display {
        transform: translateX(300px);
    }

    .nav-hidden {
        transform: translateY(0);
    }

    nav div {
        justify-self: center;
    }

    nav div:hover {
        font-size: 40px;
    }

    .nav-link:hover a img {
        transition: all 0.2s;
        transform: translateX(-20px);
        width: 64px;
    }
    .nav-link:hover a .nav-link-name p {
        font-weight: 300;
        letter-spacing: 1px;
        transition: transform 0.3s;
        transform: translateX(0px);
    }

    .nav-link a {
        width: auto;
        justify-content: unset;
    }

    .nav-link a img{
        padding: 0;
    }

    .nav-link-name {
        display: initial;
        overflow: hidden;
        /*For visible version (unfinished):
        padding-right: 40px; */
    }

    /*Was formerly for all sizes*/
    .nav-link-name p {
        transform: translateX(-200px);
    }

    #light-switch{
        font-size: 30px;
        width: 48px;
    }

    #light-switch-container:hover img {
        width: 64px;;
    }

    /* Header */
    .header-wrapper{
        width: 40%;
        left: 150px;
        margin: 0;
        /*
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        */
    }

    #canvas-header {
        display: initial;
    }

    .name-wrapper {
        /*font-size: 50px;*/
        font-weight: 400;
    }

    .web-developer-wrapper {
        align-self: flex-end;
    }

    /* Portfolio */

    #projects {
        box-shadow: 12px 12px var(--dark_teal),
        -12px 12px var(--dark_teal);

    }

    #skillset {
        box-shadow: -12px 12px var(--dark_teal);
    }

    #education {
        box-shadow: 12px 12px var(--dark_teal);
    }

    .project-box-inner figcaption {
        transition: all 0.3s ease;
    }

    .project-box-inner:hover .project-image {
        opacity: 0.1;
    }
    
    .project-box-inner:hover figcaption {
        top: 30px;
    }

    .project-caption {
        display: none;
    }

    /* About */

    .my-face {
        width: 80%;
    }


    /* Contact */

    .contact-info {
        flex-direction: row;
    }

    .contact-form {
        padding: 40px;
    }

    .contact-form label {
        width: 80%;
    }

    /* WHY IS THIS NOT WORKING ON APACHE? */
    #scroll-button {
        width: 100px;
    }
}

/*** BIG TABLETS ***/
@media only screen and (min-width: 1023px) {

    .btn {
    }

    .header-wrapper {

    }

    .web-developer{
        font-size: 24px;
    }



    /* Portfolio */
    .portfolio-wrapper {
        padding: 10px 40px;
    }

    .portfolio-upper {
        margin-bottom: 40px;
    }

    .project-boxes {
        flex-direction: row;
    }

    .portfolio-lower {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    #skillset {
        min-width: 500px;
        margin-right: 10px;
    }

    #education {
        min-width: 500px;
        margin-left: 10px;
    }

    #github-button {
        width: 350px;
    }
    
    #github-button p {
        font-size: 30px;
    }



    /* About */
    #section-about {
        background-attachment: fixed;
    }

    .about-wrapper {
        flex-direction: row;
    }

    .about-left {
        width: 70%;
        flex: 3;
        order: 0;
        /*
        background-color: rgba(250, 200, 190, 0.1);
        border-radius: 30%;
        margin-left: 30px;
        */
    }

    .about-right {
        flex: 4;
    }

    .about-description {
        width: 90%;
        margin: auto;
        padding: 10px;
    }

    /* Footer */
    footer {
        padding-bottom: 40px;
        flex-direction: row;
        height: 50px;
    }

    .footer-tab img {
        width: 48px;
        padding-bottom: 0px;
    }

    .footer-tab img:hover {
        width: 52px;
    }
}

/*** TO PREVENT ISSUES ON IPHONES ***/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width: 100%;
    overflow-x:hidden;
  }

  .hologram-image {
    width: 100%;
  }
}
