/* COMPUTER SCREENS */
@media only screen and (min-width: 1200px) {
    
    p {
        font-size: 16px;
    }

    .header-wrapper{
        width: 40%;
        left: 150px;
        margin: 0;
    }

    .web-developer-wrapper {
        align-self: flex-end;
    }

    .about-wrapper {
        flex-direction: row;
    }

    .about-left {
        width: auto;
        flex: 3;
    }
    
    .about-right {
        flex: 4;
    }

    .hologram-image {
        margin-bottom: 0;
    }
}

/* BIG TABLETS */
@media only screen and (min-width: 1023px) and (orientation: portrait) {
    #scroll-down-button {
        width: 100%;
    }
}


/* EXTRA SMALL PHONES */
@media only screen and (min-width: 480px) {
    
}