/*** COMPUTER SCREENS ***/
@media only screen and (min-width: 1200px) {

    nav {
        padding: 60px 0px;
    }

    .nav-link:hover a img {
        transition: all 0.2s;
        transform: translateX(-20px);
    }
    .nav-link:hover a .nav-link-name p {
        font-weight: 300;
        letter-spacing: 1px;
        transition: transform 0.3s;
        transform: translateX(0px);
    }

    .nav-link-name {
        display: initial;
        overflow: hidden;
    }
    
    .nav-link-name p {
        color: silver;
        font-size: 22px;
        transform: translateX(-200px);
    }

    /* Header */
    .header-wrapper{
        width: 40%;
        left: 150px;
        margin: 0;
        /*
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        */
    }

    .name-wrapper {
        /*font-size: 50px;*/
        font-weight: 400;
    }

    .web-developer-wrapper {
        align-self: flex-end;
    }

    /* About */




    /* Contact */
    .contact-form {
        width: 40%;
    }


    /* Scroll button */
    #scroll-button {
        height: 50px;
    }

    #scroll-down-button {
        width: 100px;
    }
}

/*** BIG TABLETS ***/
@media only screen and (min-width: 1023px) {

    .btn {
        padding: 40px 20px;
    }

    .header-wrapper {

    }

    .web-developer{
        font-size: 24px;
    }

    /* About */
    .about-wrapper {
        flex-direction: row;
    }

    .about-left {
        width: 70%;
        flex: 3;
        order: 0;
        /*
        background-color: rgba(250, 200, 190, 0.1);
        border-radius: 30%;
        margin-left: 30px;
        */
    }
    
    .about-right {
        flex: 4;
    }

    .about-options {
        margin-top: auto;
        height: auto;
    }

    .hologram-image {
        margin-bottom: 0;
    }

    .about-options {
        flex-direction: row;
    }

    .hologram-container {
        order: 0;
    }

    /* Portfolio - must check iPad to see if this should be on a bigger screen */

    .portfolio-wrapper {
        padding: 10px 40px;
    }
    
    .portfolio-grid {
        display: grid;
        justify-content: space-between;
        grid-template: auto auto / 1fr 1fr;
        gap: 20px 20px;
    }

    #education {
        grid-row-start: 1;
    }
    
    #projects {
        grid-column: 2;
        grid-row: 1 / span 2;
    }
}

/*** TO PREVENT ISSUES ON IPHONES ***/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width: 100%;
    overflow-x:hidden;
  }

  .hologram-image {
    width: 100%;
  }
}
