/******************* GENERAL ********************/
:root {
    --light_grey: #2a2a2a;
    --grey: #1d1d1d;
    --dark_grey: #181818;
    --white: #ddd;
    --light_orange: #faa700;
    --orange: #f28500;
    --dark_orange: #d06300;
    --blue: #706fd3;
    --green: #b7e117;
    --silver: #d2dae2;
    --gold: rgba(230, 180, 100, 1);
    --transparent_background: rgba(0, 0, 0, 0.7);
    --transparent_button: rgba(255, 255, 240, 0.1);

}

body {
    background: #1d1d1d;
    font-size: 22px;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    z-index: -1;
}

#preloadedImages
/* Yet another preloading technique that doesn't work */
{
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(../img/compressedpng/holo1-min.png);
    background-image: url(../img/compressedpng/holo2-min.png);
    background-image: url(../img/compressedpng/holo3-min.png);
    background-image: url(../img/compressedpng/holo4-min.png);
    background-image: url(../img/compressedpng/holo5-min.png);
    background-image: url();

}


#global-wrapper-outer {
    background-color: black;
    /*
    background-image: url(../img/jy_background_light.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */
    z-index: -5;
}

#global-wrapper-inner {
    /*background-image: url(../img/logo.png);*/
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
}

.section {
    position: relative;
    min-height: 100vh;
    padding-bottom: 10vh;
    z-index: 5;
    /* OR:
    margin-bottom: 200px;*/
}

p {
    padding-bottom: 10px;
    line-height: 1.4em;
    /*padding-bottom: 80px;
    /*min-height: 60vh;*/
}

.section h1 {
    padding-top: 40px;
}

h1, h2, h3, h4 {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--silver);
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: neuropol-nova, sans-serif;
    font-weight: 400;
    font-style: normal;

}

h1 {
    font-size: 300%;
    /*text-shadow: 0px 2px rgba(50, 50, 50, 0.6);*/
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
    /*text-shadow: 0px 1px #555;*/
}

.btn {
    cursor: pointer;
    padding: 20px 40px;
    background: var(--light_orange);
    color: white;
}
.btn:hover {
    background: var(--dark_orange);
}

span {
    display: block;
}

.collapsed {
    display: none;
}

/******************* HOLOGRAM REFERENCE POINT  ********************/
#hologram-reference {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
}

/******************* NAVIGATION ********************/
nav {
    background-color: var(--dark_grey);
    display: grid;
    align-items: center;
    grid-template: 100% / repeat(4, 1fr);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 20px;
    padding: 100px 0px;
    font-size: 20px;
    z-index: 200;
}

nav div {
    font-size: 30px;
    justify-self: center;
}

nav div:hover {
    font-size: 40px;
}

.nav-link a {
    display: flex;
    align-items: center;
}

.nav-link-name {
    display: none;
}

.nav-link a img{
    width: 48px;
}

/*
.nav-link a:link,
.nav-link a:visited{
    color: var(--white);
    font-style: none;
}
*/

.nav-link:hover a img{
    width: 64px;
    /*
    font-size: 110%;
    color: var(--orange);
    /*text-shadow: 0px 2px rgba(50, 50, 50, 0.4);*/
}

/*
.nav-link a:active {
    color: tomato;
}
*/

nav button:hover, .sound-on {
    color: tomato;
    font-size: 40px;
    cursor: pointer;
}

/******************* HEADER ********************/
#section-header {
    background: var(--grey);
    height: 100vh;
    padding-bottom: 0px;
}

header {
    /*padding-top: 40px;*/
    height: 100vh;
    font-family: neuropol-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.canvas-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.header-wrapper {
    position: absolute;
    height: 40%;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.name-wrapper {
    height: 80%;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: var(--orange);
    font-size: 80px;
    transition: 6ms;
}

.web-developer-wrapper {
    align-self: center;
    overflow: hidden;
    color: var(--silver);
}

.web-developer {
    font-size: 24px;
    transition: all 1.5s ease;
    transform: translateX(700px);
}

#name-letter-1, #name-letter-3, #name-letter-5,
#name-letter-7, #name-letter-10, #name-letter-13 {
    color: var(--silver);
}

.name-letter-holder {
    overflow: hidden;
}

.name-letter {
    opacity: 0;
    transition: all 500ms ease; /* cubic-bezier(.12,.79,.65,.55); */
    transform: translateY(-50px);
}

.james {
    opacity: 1;
    transform: translateY(0);
}

.yoannou {
    opacity: 1;
    transform: translateY(0);
}

/* GIVE THIS OPACITY */
.slide-in {
    opacity: 0.7;
    transform: translateX(0);
}

/******************* SECTION: ABOUT ********************/


#section-about {
    background-image: linear-gradient(rgba(50, 50, 60, 0.6), rgba(50, 50, 60, 0.6)), url(../img/35mm/film3-min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.about-heading {
    text-align: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 10vh;
    align-items: center;
    /* For centering with Scrollify: */
    /*
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    */
}

.about-left {
    font-family: neuropol-nova, sans-serif;
    color: var(--orange);
    /*font-size: 20px;*/
    order: 1;
    position: relative;
    margin: 0px auto;
}

.about-right{
    width: 100%;
    padding-bottom: 20px;
}

.about-description {
    color: white;
}

/* Remake this section using floats instead of flexbox so the two sides can be widely hovered */
.about-options {
    background: linear-gradient(rgba(200, 200, 200, 0), rgba(200, 200, 200, 1));
    /*background-color: var(--light_grey);*/
    height: 800px;
    display: flex;
    margin-top: -160px;
    margin-bottom: -10vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hologram-container {
    position: relative;
    order: -1;
}

/* Used to provide a space where the absolute-positioned images will appear */
.hologram-image-template {
    position: relative;
    width: 500px;
    height: auto;
    max-height: 600px;
    margin-bottom: 20px;
}

.hologram-image {
    display: none;
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    opacity: 0.9;
    /*transition: opacity 0.8s; replaced by jQuery*/
}

.hologram-hidden {
    opacity: 0;
}

.off-screen {
    box-sizing: border-box;
    padding: 40px 40px;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease;
}

.intro-video-panel {
    top: 0;
    right: 100%;
    background-color: var(--dark_grey);
}

.learn-more-panel {
    top: 0;
    left: 100%;
    background-color: var(--dark_grey);
}

/*
.youtube-video {
    position: relative;
    width: 60%;
    margin: 40px auto;
    border: 4px solid black;
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
*/

/******************* SECTION: PORTFOLIO ********************/
#section-portfolio {
    background-color: var(--grey);
    border: none, 1px solid grey;
}

#section-portfolio p,
#section-portfolio a {
    display: block;
    padding: 10px 0px 10px 20px;
    font-size: 18px;
}

#section-portfolio p,
#section-portfolio a,
#section-portfolio h3,
#section-portfolio h4 {
    text-align: start;
    padding-top: 10px;
    padding-left: 20px;
    
}

#section-portfolio ul {
    font-size: 16px;
}

#section-portfolio li {
    padding-bottom: 10px;
}

.outer-li {
    padding-bottom: 10px;
}

.outer-li ul {
    text-align: start;
    padding-left: 30px;
}

.portfolio-heading {
    text-align: center;
    padding-bottom: 50px;
}

.portfolio-wrapper {
    padding: 10px 40px;
}

.portfolio-grid-item {
    border: solid 2px teal;
}

.portfolio-item-heading {
    text-align: start;
    padding: 20px 20px;
}

.portfolio-item-content {
    /*display: none;*/
    padding: 10px 20px;
    background-color: teal;
}

.skill-li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.skill-li p {
    width: 50%;
    flex-grow: 1;
}

.bar-outer {
    width: 50%;
    flex-grow: 4;
    background-color: var(--light_grey);
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.bar-inner {
    position: relative;
    background-color: var(--light_orange);
    height: 100%;
}

/* PROGRESS BARS: Should automate this later in JS */
#skill-html {width: 90%;}
#skill-css {width: 86%;}
#skill-javascript {width: 70%;}
#skill-jquery {width: 42%;}
#skill-ruby {width: 40%;}
#skill-liquid {width: 82%;}
#skill-git {width: 80%;} /* MAKE THIS ONE BETTER */
#skill-unix {width: 92%;}
#skill-c {width: 54%;}
#skill-cpp {width: 62%;}
#skill-java {width: 62%;}

.portfolio-left {
    padding: 10px;
    flex: 3;
}

.portfolio-right {
    padding: 10px;
    flex: 1;
}

.social-media-links {
    display: flex;
    flex-direction: column;
}


/******************* SECTION: CONTACT ********************/
#section-contact {
    background: var(--transparent_background);
    background-image: linear-gradient(rgba(50, 50, 60, 0.7), rgba(50, 50, 60, 0.7)), url(../img/35mm/film2-min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

.contact-form {
    padding: 40px;
    color: grey;
    margin: 20px auto;
    width: 60%;
    /*height: 50vh;*/
    height: 400px;
    background-color: var(--white);
}

/* This could be cleaned up a little bit */
.contact-form h3 {
    color: var(--grey);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}




/******************* SCROLL-BUTTON ********************/
#scroll-button {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    z-index: 10;
}

#scroll-down-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.4);
    padding: 0 20px;
}

#scroll-down-button:hover {
    color: tomato;
    font-size: 140%;
    font-weight: bold;
    background: rgba(100, 100, 100, 0.3);
}
