/******************* GENERAL ********************/
:root {
    --white: #ddd;
    --orange: #f28500;
    --blue: #706fd3;
    --green: #b7e117;
    --silver: #d2dae2;
    --hologram: rgba(255, 255, 240, 0.1);
    --holoshadow: -2px 2px rgba(100, 100, 100, 0.4);

}

html {
    font-size: 16px;
}

body {
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#global-wrapper-outer {
    background-image: url(../img/jy_background_light.jpg);
    background-image: linear-gradient(rgba(20, 20, 20, 0.4), rgba(250, 250, 250, 0.2)), url(../img/jy_background_light.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#global-wrapper-inner {
    /*background-image: url(../img/logo.png);*/
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
}

.section {
    padding-bottom: 80px;
}

h1, h2, h3, h4 {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--silver);
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: neuropol-nova, sans-serif;
    font-weight: 400;
    font-style: normal;

}

h1 {
    font-size: 300%;
    /*text-shadow: 0px 2px rgba(50, 50, 50, 0.6);*/
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
    /*text-shadow: 0px 1px #555;*/
}

p {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 1.4em;
}

span {
    display: block;
}


/******************* HOLOGRAM REFERENCE POINT ********************/
#hologram-reference {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    background-color:red;
}

/******************* NAVIGATION ********************/
nav {
    display: grid;
    align-items: center;
    grid-template: 100% / 10% 1fr 1fr 1fr;
    position: absolute;
    top: 30px;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    padding: 10px 0px;
    font-size: 20px;
}

.nav-link {
    justify-self: center;
}

#sound-option:hover {
    font-size: 130%;
}

a {
    font-weight: bold;
    text-decoration: none;
}
a:link, a:visited{
    color: var(--white);
    font-style: none;
}
a:hover {
    font-size: 110%;
    color: var(--orange);
    text-shadow: 0px 2px rgba(50, 50, 50, 0.4);
}
a:active {
    color: tomato;
}
a:focus{
	color: #333;
}

nav button:hover, .sound-on {
    color: var(--orange);
    font-size: 130%;
    cursor: pointer;
}

/******************* HEADER ********************/
header {
    /*padding-top: 40px;*/
    height: 100vh;
    font-family: neuropol-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-wrapper {
    position: absolute;
    height: 40%;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.name-wrapper {
    height: 80%;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: var(--orange);
    font-size: 40px;
    transition: 6ms;
}

.web-developer-wrapper {
    align-self: center;
    overflow: hidden;
    color: var(--silver);
}

.web-developer {
    transition: all 1.5s ease;
    transform: translateX(400px);
}

#name-letter-1, #name-letter-3, #name-letter-5,
#name-letter-7, #name-letter-10, #name-letter-13 {
    color: var(--silver);
}

.name-letter-holder {
    overflow: hidden;
}

.name-letter {
    opacity: 0;
    transition: all 500ms ease; /* cubic-bezier(.12,.79,.65,.55); */
    transform: translateY(-50px);
}

.james {
    opacity: 1;
    transform: translateY(0);
}

.yoannou {
    opacity: 1;
    transform: translateY(0);
}

/* GIVE THIS OPACITY */
.slide-in {
    opacity: 0.7;
    transform: translateX(0);
}

/******************* SECTION: ABOUT ********************/

#section-about {
    /*background: black;*/
}

.about-heading {
    text-align: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
}

.about-left {
    width: 70%;
    margin: auto;
}

.about-right{}


#hologram-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    opacity: 0.5;
}

.about-description {
    width: 80%;
    margin: auto;
    padding: 10px;
}

.youtube-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border: 4px solid black;
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/******************* SECTION: PORTFOLIO ********************/

.portfolio-heading {
    text-align: center;
    /*
    margin-left: 15%;
    margin-right: auto;
    */
}

.portfolio-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.portfolio-left {
    padding: 10px;
    flex: 3;
}

.portfolio-right {
    padding: 10px;
    flex: 1;
}

.social-media-links {
    display: flex;
    flex-direction: column;
}


/******************* SECTION: CONTACT ********************/
.contact-heading {
}


/******************* SCROLL-BUTTON ********************/
#scroll-button {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#scroll-down-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 100%;
    background: rgba(100, 100, 100, 0.4);
    padding: 0 20px;
}

#scroll-down-button:hover {
    color: tomato;
    font-size: 140%;
    font-weight: bold;
    background: rgba(100, 100, 100, 0.3);
}