/******************* GENERAL ********************/
:root {
    --white: #ddd;
    --orange: #f28500;
    --blue: #706fd3;
    --silver: #d2dae2;
    --hologram: rgba(255, 255, 240, 0.1);
    --holoshadow: -2px 2px rgba(100, 100, 100, 0.4);

}

html {
    font-size: 16px;
}

body {
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#global-wrapper {
    background-image: url(../img/jy_background_light.jpg);
    background-image: linear-gradient(rgba(10, 10, 10, 0.4), rgba(0, 0, 0, 0.2)), url(../img/jy_background_light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: 20px 0;
    /*Give them all the same height / padding settings */
}

h1, h2, h3, h4 {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--orange);
    font-family: 'Orbitron', sans-serif;

}

h1 {
    font-size: 300%;
    /*text-shadow: 0px 2px rgba(50, 50, 50, 0.6);*/
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
    /*text-shadow: 0px 1px #555;*/
}

p {
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 1.4em;
}


.hologram {
    margin: 10px 0;
    background: var(--hologram);
    /*box-shadow: -2px -2px rgba(100, 100, 100, 0.4);*/
}

/******************* NAVIGATION ********************/
nav {
    display: grid;
    align-items: center;
    grid-template: 100% / 10% 1fr 1fr 1fr;
    position: absolute;
    top: 30px;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    padding: 10px 0px;
    font-size: 20px;
}

.nav-link {
    justify-self: center;
}

#sound-option:hover {
    font-size: 130%;
}

a {
    font-weight: bold;
    text-decoration: none;
}
a:link, a:visited{
    color: var(--white);
    font-style: none;
}
a:hover {
    font-size: 110%;
    color: var(--orange);
    text-shadow: 0px 2px rgba(50, 50, 50, 0.4);
}
a:active {
    color: tomato;
}
a:focus{
	color: #333;
}

nav button:hover, .sound-on {
    color: var(--orange);
    font-size: 130%;
    cursor: pointer;
}

/******************* HEADER ********************/
header {
    padding-top: 40px;
    height: 100vh;
    font-family: neuropol-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name-wrapper {
    position: absolute;
    width: 50%;
    height: 30%;
    top: 40%;
    left: 100px;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: var(--orange);
    font-size: 40px;
    transition: 6ms;
}

/*
.name-wrapper:hover {
    width: 20%;
}
*/

#nl-J {
    grid-column: 2;
    color: var(--silver);
}

#nl-N, #nl-S {
    color: var(--silver);
}

#nl-Y, #nl-U, #nl-M {
    color: var(--silver);
}


/******************* SECTION: ABOUT ********************/
.about-heading {
    text-align: right;
    margin-right: 15%;
    margin-left: auto;
}

.about-wrapper {
    display: flex;
    width: 90%;
    margin: auto;
}

.about-left {
    visibility: hidden;
    flex: 3;
}

.about-right {
    flex: 4;
}

.image-box{
    padding: 2px;
}

.coder-james {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.about-description {
    width: 80%;
    margin: auto;
    padding: 10px;
}

.youtube-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border: 4px solid black;
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/******************* SECTION: PORTFOLIO ********************/

.portfolio-heading {
    text-align: left;
    margin-left: 15%;
    margin-right: auto;
}

.portfolio-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.portfolio-left {
    padding: 10px;
    flex: 3;
}

.portfolio-right {
    padding: 10px;
    flex: 1;
}

.social-media-links {
    display: flex;
    flex-direction: column;
}


/******************* SCROLL-BUTTON ********************/
#scroll-button {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#scroll-down-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 100%;
    background: rgba(100, 100, 100, 0.4);
    padding: 0 20px;
}

#scroll-down-button:hover {
    color: tomato;
    font-size: 140%;
    font-weight: bold;
    background: rgba(100, 100, 100, 0.3);
}